/* CLASS */

.arial {
    font-family: Arial;
}

.bg-body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.bg-cabecalho {
    background-image: linear-gradient(120deg, #30cfd0 0%, #070967 100%);
    padding: 220px 100px 230px 400px;
}

.bg-botoes {
    background: rgba(30, 143, 177, 0.692);
}

.descricao {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: justify;
}

.simbolos {
    text-align: center;
    font-size: 50px;
}

/* TAGS */

h1 {
    color: white;
    font-size: 80px;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 28px;
}

h3 {
    color: #070955 font-size: 30px;
}

h5 {
    color: #070955;
    font-size: 24px;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #04053a;
}

a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}